body {
	text-align: center;
	background-color: #f08256;
}
table {margin: auto}
.clicked {
	outline: dashed blue 3px;
	filter: opacity(50%);
}
img.OK, button.clicked {
	outline: none;
	filter: none;
}
select {
  font-size: 1.2em;
  background: #A4C2E3;
  border-radius: 5px;
}
